<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgotPassword</title>
</head>

<body>
    <p>
    <h1> Hii <%=data.name %>
    </h1> <br>please copy this link and
    <a href="http://localhost:4000/api/v1/authentication/resetPassword?token=<%=data.token %>">reset
        your
        password </a>
    </p>
</body>

</html>